<!DOCTYPE html>
<html ng-app="myApp1">
  <head>
    <title>covid management</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../lib/angular-route.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="../angularjs.js"></script>
    <script src="covidM.js"></script>
    <!-- <script src="links.json"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <ul class="nav navbar-nav">
            <li><a href="#!home">HOME</a></li>
            &nbsp;&nbsp;
            <li><a href="#!about">ABOUT</a></li>
            &nbsp;&nbsp;
            <li><a href="#!details">DETAILS</a></li>
            &nbsp;&nbsp;
            <li><a href="#!users">USERS</a></li>
          </ul>
        </nav>
      </div>
      <div ng-view></div>
    </nav>

    <div class="jumbotron">
      <h1 class="text-center">{{title}}</h1>
      <p>
        The Covid-19 pandemic has been a deadly pandemic that has affected the
        whole world. It was a viral infection that affected almost everyone in
        some way or the other. However, the effects have been felt differently
        depending on various factors. As it is a virus, it will change with
        time, and different variants might keep coming. The virus has affected
        the lifestyle of human beings. The pandemic has affected the education
        system and the economy of the world as well. Many people have lost their
        lives, jobs, near and dear, etc.
      </p>
      <div id="cards">
        <div class="row">
          <div class="col-nd-4">
            <div class="card">
              <div class="card-body">
                <h2>Total Cases</h2>
                <table class="table table-info">
                  <tr>
                    <th>Date</th>
                    <th>count of total cases</th>
                  </tr>
                  <tr ng-repeat="x in all_data | limitTo:10">
                    <td>{{x.date}}</td>
                    <td>{{x.totalTestResults }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-nd-4">
            <div class="card">
              <div class="card-body">
                <h2>Positive Cases</h2>
                <table class="table table-success">
                  <tr>
                    <th>Date</th>
                    <th>count of Positive cases</th>
                  </tr>
                  <tr ng-repeat="x in all_data | limitTo:10">
                    <td>{{x.date}}</td>
                    <td>{{x.positive}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-nd-4">
            <div class="card">
              <div class="card-body">
                <h2>Negative Cases</h2>
                <table class="table table-danger">
                  <tr>
                    <th>Date</th>
                    <th>count of Negative cases</th>
                  </tr>
                  <tr ng-repeat="x in all_data | limitTo:10">
                    <td>{{x.date}}</td>
                    <td>{{x.negative}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-nd-4">
            <div class="card">
              <div class="card-body">
                <h2>Death Cases</h2>
                <table class="table table-info">
                  <tr>
                    <th>Date</th>
                    <th>count of Death cases</th>
                  </tr>
                  <tr ng-repeat="x in all_data | limitTo:10">
                    <td>{{x.date}}</td>
                    <td>{{x.death}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
